
.players-box {
  display: flex;
  justify-content: space-between;
}

.board{
  position: absolute;
  top: 17%;
  left: 20%;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 320px;
}

.winner-player {
  position: absolute;
  left: 38%;
}

.control-buttons {
  position: absolute;
  top: 70%;
  left: 38%;
}

.game-timer {
  position: absolute;
  top: 60%;
  left: 45%;
}

