.winner-player {
  position: absolute;
  left: 38%;
}

.control-buttons {
  position: absolute;
  top: 70%;
  left: 38%;
}

.game-timer {
  position: absolute;
  top: 60%;
  left: 45%;
}

